﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Changepassword2.aspx.cs" Inherits="Nexus.Changepassword2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Change Password</h3>
    <table style="width: 529px; margin-left:140px;">
            <tr>
    <td class="style1">&nbsp;Enter Old Password :</td>
    <td><asp:TextBox ID="txtUID" runat="server" TextMode="Password"></asp:TextBox> 
     <asp:RequiredFieldValidator ID="RFV6" ControlToValidate="txtUID" ErrorMessage="*" Display="Static" runat="server" ></asp:RequiredFieldValidator>
     </td>
    </tr>
            <tr>
    <td class="style1">Enter New Password:</td>
    <td><asp:TextBox ID="txtnp" runat="server" TextMode="Password"></asp:TextBox> 
     <asp:RequiredFieldValidator ID="RequiredFieldValidator1" ControlToValidate="txtnp" ErrorMessage="*" Display="Static" runat="server" ></asp:RequiredFieldValidator></td>
    </tr>
            <tr>
                <td class="style1">
                    &nbsp;</td>
                <td>
                    <asp:Button ID="btnsave" runat="server" Text="Save" onclick="btnsave_Click" />
                </td>
            </tr>
    </table>

    </div>
    </form>

</body>
</html>
