﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Sorry.aspx.cs" Inherits="Nexus.Sorry" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Sorry</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Sorry you can't access this page, you have to <a href="Default.aspx">Login</a> first.
    </div>
    </form>
</body>
</html>
