﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AP.aspx.cs" Inherits="Nexus.AP" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Removing Employee from given authority</h3>
    <table style="width: 281px; margin-left:180px;">
            <tr>
    <td class="style1">Enter EmpID :</td>
    <td class="style2"><asp:TextBox ID="txtUID" runat="server"></asp:TextBox> 
     <asp:RequiredFieldValidator ID="RFV6" ControlToValidate="txtUID" ErrorMessage="*" Display="Static" runat="server" ></asp:RequiredFieldValidator>
     </td>
     </tr>
     <tr>
     <td></td>
              <td>      <asp:Button ID="Button1" runat="server" onclick="btndel_Click" Text="Remove" />
                </td>
                </tr>
    
    </table>
    </div>
    </form>
</body>
</html>
